button.buttonOne {
    padding: 5px;
    margin: 5px;
    background-color: blue;
    color: white;
}

div.container {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    color: black;
}

h1.heading {
    text-align: center;
}