button.buttonOne {
    padding: 5px;
    margin: 5px;
    background-color: rgb(212, 250, 203);
    color: black;
    border-color: black;
    border-radius: 4px;
}

div.container {
    padding: 10px;
    height: 5%;
    background-color: darkolivegreen;
    color: black;
}